.gameButton {
  padding: 0.5rem 1rem; // py-2 px-4
  color: white; // text-white
  border-radius: 0.25rem; // rounded
  font-size: 1.25rem; // text-xl
  font-weight: 100; // font-thin
  width: 12rem; // w-3xs → depende de tu config, pero suele ser 12rem si lo definiste
  height: 76px; // h-[76px]
  letter-spacing: 0.1em; // tracking-widest
  margin: 16px 0;
}

.bgBlue {
  background-color: #2563eb; // bg-blue-600
}

.bgGreen {
  background-color: #16a34a; // bg-green-600
}
